<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Usuários</title>
</head>
<body>
<h2>Usuários Cadastrados</h2>
<ul>
    <li th:each="usuario : ${usuarios}">
        <span th:text="${usuario.nome}"></span> - Email: <span th:text="${usuario.email}"></span> - Telefone: <span th:text="${usuario.telefone}"></span>
    </li>
</ul>
<form action="/usuarios/salvar" method="post">
    <input type="text" name="nome" placeholder="Nome" required />
    <input type="email" name="email" placeholder="E-mail" required />
    <input type="password" name="senha" placeholder="Senha" required />
    <input type="text" name="telefone" placeholder="Telefone" required />
    <input type="text" name="rua" placeholder="Rua" required />
    <input type="text" name="numero" placeholder="Número" required />
    <input type="text" name="cidade" placeholder="Cidade" required />
    <input type="text" name="cep" placeholder="CEP" required />
    <input type="text" name="cpf" placeholder="CPF" required />
    <input type="date" name="dataNascimento" placeholder="Data de Nascimento" required />
    <button type="submit">Salvar</button>
</form>
</body>
</html>